/* Início do CSS para o Header */
.navbar {
    background-color: #00509D; /* Cor de fundo atualizada */
}

.title {
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
}

.title img {
    margin-right: 10px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    background-color: white; /* Todos os botões brancos */
    color: #343a40; /* Cor do texto dos botões */
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.navbar-nav .nav-item {
    margin-bottom: 0; /* Removendo margem inferior */
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color: white; /* Ícone do botão de alternância em branco */
}

/* Responsividade */
@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-link {
        width: 100%;
        padding: 15px 0;
    }
}
/* Fim do CSS para o Header */
