<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../css/header.css">
</head>
<header>
    <nav class="navbar navbar-expand-lg cor_primaria fixed-top">
        <div class="container-fluid p-2">
            <a class="title" href="#home">
                <img src="../img/gym.png" alt="Logo" width="66" height="55">
                Academy <span style="color:#FFCB05;">Map</span>
            </a>
            <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-lg-auto text-center w-lg-100">
                    <li id="nav-search"
                        class="nav-item mx-2 bg-white rounded-3 d-flex justify-content-center align-items-center">
                        <a class="nav-link fs-5 fw-bold px-4 text-dark text-center" href="/lista-acad">
                            <i class="fa fa-search"></i> Pesquisar
                        </a>
                    </li>
                    <li id="nav-favorites"
                        class="nav-item mx-2 bg-white rounded-3 d-flex justify-content-center align-items-center">
                        <a class="nav-link fs-5 fw-bold px-4 text-dark text-center" href="/favs">
                            <i class="fa fa-heart"></i> Favoritos
                        </a>
                    </li>
                    <li id="nav-dashboard-user"
                        class="nav-item mx-2 bg-white rounded-3 d-flex justify-content-center align-items-center">
                        <a class="nav-link fs-5 fw-bold px-4 text-dark text-center" href="/painel-cliente">
                            <i class="fa fa-cog"></i> Configurações
                        </a>
                    </li>
                    <li id="nav-dashboard-academy"
                        class="nav-item mx-2 bg-white rounded-3 d-flex justify-content-center align-items-center">
                        <a class="nav-link fs-5 fw-bold px-4 text-dark text-center" href="/edit-acad">
                            <i class="fa fa-cog"></i> Editar Academia
                        </a>
                    </li>
                    <li id="nav-logout"
                        class="d-none nav-item mx-4 rounded-3 d-flex justify-content-center align-items-center cor_botao">
                        <a class="nav-link fs-5 fw-bold px-5 text-light text-center" href="/logout">
                            Logout <i class="fa fa-sign-out-alt"></i>
                        </a>
                    </li>
                    <li id="nav-login-user"
                        class="d-none nav-item mx-4 bg-success rounded-3 d-flex justify-content-center align-items-center">
                        <a class="nav-link fs-5 fw-bold px-5 text-light text-center"
                            href="/esc-login">Entrar</a>
                    </li>
                    <li id="nav-login-academy"
                        class="d-none nav-item mx-4 bg-primary rounded-3 d-flex justify-content-center align-items-center">
                        <a class="nav-link fs-5 fw-bold px-5 text-light text-center"
                            href="/esc-cad">Cadastrar</a>
                    </li>
                    <li id="nav-start" class="nav-item mx-4 d-flex justify-content-center align-items-center">
                        <a class="nav-link fs-5 fw-bold px-5 text-dark text-center" href="/">
                            <i class="fa-solid fa-arrow-left"></i> Voltar ao início
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>